views/layout/header.html
<script type='text/javascript' src='/js/layout/header.js'></script>
<link rel='stylesheet' href='/css/layout/header.css'></link>

<!-- template form http://www.jquery2dotnet.com -->

<div class="row">
  <div class="col-md-12">
	 <nav class="navbar navbar-custom" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		   <span class="sr-only">Toggle navigation</span>
		   <span class="icon-bar"></span>
		   <span class="icon-bar"></span>
		   <span class="icon-bar"></span>
		   </button>
		   <a class="navbar-brand" href="/">Sympozer</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		   <!-- <ul class="nav navbar-nav">
			  <li class="dropdown">
				 <a href="/" class="dropdown-toggle" data-toggle="dropdown">Person <b class="caret"></b></a>
				 <ul class="dropdown-menu">
					<li><a href="/person/create">New person</a></li>
					<li class="divider"></li>
					<li><a href="/person/all">All persons</a></li>
					<li class="disabled"><a href="#">Persons by conference</a></li>
					<li class="disabled"><a href="#">Persons by organization</a></li>
				 </ul>
			  </li>
		   </ul> -->

		   <ul class="nav navbar-nav">
			  <li class="dropdown">
				 <a href="/" class="dropdown-toggle" data-toggle="dropdown">Conference <b class="caret"></b></a>
				 <ul class="dropdown-menu">
					<li><a href="/conference/create">New conference</a></li>
					<li><a href="/conference/myconferences">My conferences</a></li>
					<li class="divider"></li>
					<li><a href="/conference/user/all">Conferences by author</a></li>
				 </ul>
			  </li>
		   </ul>

<!--            <ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown">Organization <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/organization/create">New organization</a></li>
						<li class="divider"></li>
						<li><a href="/organization/all">All organizations</a></li>
					</ul>
				</li>
		   </ul> -->


		   <form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
				 <input type="text" class="form-control" placeholder="Search a conference">
			  </div>
			  <button type="submit" class="btn btn-default">Find</button>
		   </form>

		   <ul class="nav navbar-nav navbar-right">

			  <li class="disabled"><a href="">Application setting</a></li>

			  <li><a href="/register">Sign Up</a></li>

			  <li class="dropdown">
				 <a href="/" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
				 <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
					<li>
					   <div class="row">
						  <div class="col-md-12">
							 <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
								<div class="form-group">
								   <label class="sr-only" for="email-input">Email address</label>
								   <input type="email" class="form-control" id="email-input" name="username"
										  placeholder="Email address" required>
								</div>
								<div class="form-group">
								   <label class="sr-only" for="password-input">Password</label>
								   <input type="password" class="form-control" id="password-input" name="password" 
										  placeholder="Password"  required>
								</div>
								<!--
								<div class="checkbox">
								   <label>
								   <input type="checkbox"> Remember me
								   </label>
								</div>
								-->
								<div class="form-group">
								   <button type="submit" class="btn btn-success btn-block">Sign in</button>
								</div>
							 </form>
						  </div>
					   </div>
					</li>

					<li class="divider"></li>

					<li>
						<!--
						<input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
						<input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
						-->
						<a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
									  <span class="fa fa-linkedin"></span> Sign in with Linkedin
								  </a>
						<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
									<span class="fa fa-facebook"></span> Sign in with Facebook
									</a>
									<a class="btn btn-block btn-social btn-google" href="/auth/google">
									<span class="fa fa-google"></span> Sign in with Google
									</a>
								  <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
									<span class="fa fa-twitter"></span> Sign in with Twitter
									</a>
					</li>

				 </ul>
			  </li> <!--/dropdown-->

			  <li><a href="/logout">Logout</a></li>
		   </ul>

		</div>
		<!-- /.navbar-collapse -->
	 </nav>
  </div>
</div>

views/layout/header.jade
script(type='text/javascript', src='/js/layout/header.js')
link(rel='stylesheet', href='/css/layout/header.css')

//- template form http://-www.jquery2dotnet.com
	
nav.navbar.navbar-default
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.logo(href='/')
				img(src='/img/sympozer_logo_long.png')
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='/', data-toggle='dropdown')
							| Conference
							b.caret
						ul.dropdown-menu
							li
								a(href='/conference/create') New conference
							li
								a(href='/conference/myconferences') My conferences
			form.navbar-form.navbar-left(role='search' style='margin-left:100px; margin-top:22px')
				.form-group
					input.form-control(type='text', placeholder='Search conference' style='width:300px; margin-right:5px')
				button.btn.btn-default(type='submit') Search
			ul.nav.navbar-nav.navbar-right
				li.disabled
						a(href='') Application setting

					- if( typeof(session.user) == 'undefined' ) {
						li
							a(href='#{loginUrl}') Log in
						li
							a(href='#{registerUrl}') Register
						//- li.dropdown
							a.dropdown-toggle(href='/', data-toggle='dropdown')
								| Log in
								b.caret
							ul.dropdown-menu(style='padding: 15px;min-width: 250px;')
								li
									.row
										.col-md-12
											form#login-nav.form(role='form', method='post', action='/login', accept-charset='UTF-8')
												.form-group
													label.sr-only(for='email-input') Email address
													input#email-input.form-control(type='email', name='username',
																placeholder='Email address', required='')
												.form-group
													label.sr-only(for='password-input') Password
													input#password-input.form-control(type='password', name='password',
																placeholder='Password', required='')
												//-
													<div class="checkbox">
													<label>
													<input type="checkbox"> Remember me
													</label>
													</div>
												.form-group
													button.btn.btn-success.btn-block(type='submit') Log in
								li.divider
								li
									//-
										<input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
										<input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
									a.btn.btn-block.btn-social.btn-linkedin(href='/auth/linkedin')
										span.fa.fa-linkedin
										|  Sign in with Linkedin
									a.btn.btn-block.btn-social.btn-facebook(href='/auth/facebook')
										span.fa.fa-facebook
										|  Sign in with Facebook
									a.btn.btn-block.btn-social.btn-google(href='/auth/google')
										span.fa.fa-google
										|  Sign in with Google
									a.btn.btn-block.btn-social.btn-twitter(href='/auth/twitter')
										span.fa.fa-twitter
										|  Sign in with Twitter
							//- /dropdown
					-}else{
						li
							a(href='#{myAccountUrl}') My account
						li
							a(href='#{logoutUrl}') Log out
						//- /.navbar-collapse
					-}
